[submodule "evocube"]
	path = evocube
	url = https://github.com/xmlyqing00/evocube.git
[submodule "interactive-hex-meshing"]
	path = interactive-hex-meshing
	url = https://github.com/DavranDev/interactive-hex-meshing.git
	branch = cli-runner
